@charset "UTF-8";

/* 共通部分ーーーーーーーーーー */
/* リセット・ノーマライズ */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    scroll-behavior: smooth;
}

body {
    /* フォントの指定 */
    font-family: "ヒラギノ角ゴ ProN W3", HiraKakuProN-W3, 游ゴシック, "Yu Gothic", メイリオ, Meiryo, Verdana, Helvetica, Arial, sans-serif;
    color: #333;
    line-height: 1.5;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

img[loading="lazy"] {
    background-color: #ccd7fc;
    object-fit: cover;
}

a {
    text-decoration: none;
    color: inherit;
}

.align-center {
    text-align: center
}

/* 見出し文字のフォント */
.font-serif {
    font-family: 'Merienda', "Gabriola", 'Times New Roman', serif;
    font-weight: 300;
    color: #14256c
}

/* ヘッダー部分-------------------------------------------------- */
/* ヘッダー全体の上下に余白20px */
.site-header {
    padding: 20px 0;
    background-color: #ccd7fc;
}

.header-inner {
    max-width: 1440px;
    height: 110px;
    margin: 0 auto;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* ロゴ */
.logo,
.footer-logo {
    max-width: 150px;
    min-width: 120px;
    height: 50px;
}

.logo img,
.footer-logo img {
    width: 100%;
    height: auto;
}

/* ナビメニューとボタン */
.main-nav,
.main-nav--footer {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.main-nav ul,
.main-nav--footer ul {
    font-size: 1.1rem;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 2.5rem;
}

nav a:hover {
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.shop-button {
    padding: 6px 20px;
    background-color: #d2efd4;
    color: #14256c;
    border-radius: 20px;
    white-space: nowrap;
    display: inline-block;
    transition: background-color 0.3s ease;
    letter-spacing: 0.1em;
    font-weight: 400;
}

.shop-button:hover,
button:hover {
    background-color: #ccf6cf;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

/* －－ファーストビュー－－－－－－－－－－－－－－－－－－－－－－－－－ */
.hero {
    padding: 80px 20px 130px;
    text-align: center;
    background-color: #ccd7fc;
    /* height: 100vh; */
}


.photo-box {
    position: relative;
    max-width: 1000px;
    aspect-ratio: 100 / 49;
    margin: 0 auto;
    /* border-radius: 25vw; */
    border-radius: 9999px;
    overflow: visible;
    background-color: #ccd7fc;
}

/*  スライド画像共通設定 */
.photo-box img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    animation: fade 15s infinite ease-in-out;
    border-radius: inherit;
    /*  枠と同じ丸み */
}

/* 画像ごとのアニメーション開始時間（3枚） */
/*  */
@keyframes fade {
    0% {
        opacity: 0;
    }

    6.67% {
        opacity: 1;
    }

    33.33% {
        opacity: 1;
    }

    40% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

.photo-box img:nth-child(1) {
    animation-delay: 0s;
}

.photo-box img:nth-child(2) {
    animation-delay: 5s;
}

.photo-box img:nth-child(3) {
    animation-delay: 10s;
}

/* コピー文言 */
.hero-copy {
    position: absolute;
    top: 70%;
    left: 50%;
    color: white;
    font-size: clamp(16px, 4vw, 32px);
    font-weight: 500;
    text-shadow: 1px 1px 4px rgba(60, 68, 87, 0.9);
    white-space: nowrap;
    max-width: 100%;
    animation: copyFadeIn 3s ease-out forwards;
    animation-delay: 0s;
    /* 最初の画像が表示されるタイミングに合わせる */
}

/* -------これより下 各セクション--------------------- */
/* 見出しのフォントスタイル */
.section-title {
    font-family: 'Merienda', "Gabriola", 'Times New Roman', serif;
    font-weight: 400;
    color: #14256c;
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 130px;
    line-height: 1;
    letter-spacing: 0.05em;
}

/* 共通セクションスタイル */
.section {
    width: 100%;
    margin: 0 auto;
    padding: 100px 0 150px;
}

.section-inner {
    max-width: 1440px;
    margin: 0 auto;
    padding-right: 40px;
    padding-left: 40px;
}

/* プロダクト セクション -----------------------------------*/

.section--product {
    background-color: white;
    width: 100%;
}

h3 {
    margin: 0 0 40px;
    font-weight: 500;
    letter-spacing: normal;
    font-size: 1.3rem;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* デフォルトは3列 */
    gap: 50px;
    width: 100%;
    margin-bottom: 100px;
}

/*プロダクトグループ  1000px未満で2列に */
@media screen and (max-width: 999px) {
    .product-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

/*プロダクトグループ  800px未満で1列に */
@media screen and (max-width: 799px) {
    .product-grid {
        grid-template-columns: 1fr;
    }
}

.product-card {
    width: 100%;
    max-width: 380px;
    aspect-ratio: 380 / 280;
    position: relative;
    overflow: hidden;
    border-radius: 16px;
    margin: 0 auto;
}

.product-card:hover {
    filter: brightness(90%);
    transition: 0.5s ease;
}

.product-image img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.product-label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #333;
    padding: 6px 12px;
    font-size: 16px;
    font-weight: 500;
}

.font-men {
    color: #dfdbd8;
}

.center-shop-button {
    text-align: center;
    margin-top: 6px;
}

/* コンセプト セクション----------------------------------- */
/* コンセプトセクションの調整 */
.section--concept {
    background-color: #ccd7fc;
    width: 100%;
    padding-bottom: 50px;
}

.concept-block {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-bottom: 100px;
    align-items: center;
}

.concept-image {
    width: 490px;
    height: 320px;
    border-radius: 20px;
}

.concept-text,
.about-text {
    line-height: 2.3;
}

.first-line {
    font-size: 1.3rem;
}

/* アバウト セクション----------------------------------- */
/* アバウトセクションの調整 */
.section--about {
    background-color: white;
    width: 100%;
}

.about-block {
    display: flex;
    justify-content: center;
    gap: 60px;
    align-items: center;
}

.about-image {
    /* width: 490px; */
    height: 320px;
    border-radius: 20px;
    filter: brightness(1.7);
    /* 1.0が元の明るさ、1.2は20%明るく、0.8は20%暗く */
}

.about-text {
    font-size: 1.05rem;
}

/* コンタクト セクション----------------------------------- */

.section--contact {
    background-color: #ccd7fc;
}

.form-area {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

.form-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 1.2em;
}

.form-row label {
    width: 160px;
    display: flex;
    justify-content: space-between;
    padding-top: 0.4em;
    font-weight: bold;
    flex-shrink: 0;
    align-items: center;
    white-space: nowrap;
    /* ラベル内の改行を防ぐ */
}

.label-text {
    display: inline-block;
    font-weight: normal;
}

.required {
    color: rgb(241, 92, 92);
    font-size: 0.8em;
}

.form-row input,
.form-row textarea {
    width: 400px;
    padding: 0.5em;
    font-size: 1em;
    border: none;
    border-radius: 4px;
    margin-left: 1rem;
}

.form-row textarea {
    resize: none;
    min-height: 120px;
}

/* フォーム送信ボタン */
button {
    cursor: pointer;
    font: inherit;
    border: none;
    background: none;
    display: inline-block;
}

/* 送信ボタン */
button {
    padding: 6px 80px;
    background-color: #d2efd4;
    color: #14256c;
    border-radius: 20px;
    white-space: nowrap;
    display: inline-block;
    margin-top: 0.8rem;
    font-weight: 500;
}

/* フッター セクション----------------------------------- */
/* フッター  セクションの調整 */
.site-footer {
    background-color: #b3c3f7;
    width: 100%;
    padding: 30px 40px 10px;
    font-size: 14px;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: nowrap;
    gap: 40px;
}

.footer-social {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 20px 0 100px;
    gap: 10px;
    padding: 0 20px;
}

.social-icon img {
    width: 30px;
    height: 30px;
}

.footer-bottom {
    text-align: center;
}

/* アニメーション－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－ */
/* フェードイン */
.fade-in {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 1s ease, transform 0.8s ease;
}

.fade-in.is-visible {
    opacity: 1;
    transform: translateY(0);
}

.fade-in.delay-1 {
    transition-delay: 0.3s;
}

.fade-in.delay-2 {
    transition-delay: 0.4s;
}

.fade-in.delay-3 {
    transition-delay: 0.5s;
}

.fade-in.delay-4 {
    transition-delay: 0.7s;
}

@keyframes copyFadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


/* レスポンシブ-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */


/* ヘッダー -----------レスポンシブ------スマホ---------------*/
@media screen and (max-width: 768px) {


    .section {
        width: 100%;
        overflow: hidden;
        padding: 80px 0 130px;
    }


    .hero-copy {
        left: 35%;
    }


    .section-title {
        font-size: 2rem;
        margin-bottom: 100px;
    }

    .header-inner {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        padding: 0 20px;
        height: auto;
    }

    .logo {
        margin-left: 0;
        width: 120px;
    }

    .main-nav,
    .main-nav--footer {
        flex-direction: column-reverse;
        align-items: flex-end;
        gap: 1rem;
    }

    .main-nav ul,
    .main-nav--footer ul {
        flex-direction: column;
        gap: 1rem;
        font-size: 1.2rem;
        text-align: right;
    }

    .hero-copy {
        transform: scale(0.7);
    }


    /* プロダクト */
    h3 {
        font-size: 1rem;
    }




    /* コンセプト  -----------レスポンシブ------スマホ---------------*/

    .section--concept {
        padding-bottom: 30px;
    }

    .concept-block {
        flex-direction: column;
        align-items: center;
    }

    .right-image .concept-text {
        order: 2;
    }

    .right-image .concept-image {
        order: 1;
    }

    .concept-image {
        width: 100%;
        max-width: 490px;
        height: auto;
        object-fit: cover;
    }

    .concept-text {
        padding: 20px 0;
        text-align: left;
        font-size: 1rem;
    }

    .first-line {
        font-size: 1.1rem;
        margin-bottom: 15px;
    }


    /* アバウト  -----------レスポンシブ---スマホ------------------*/
    .about-block {
        flex-direction: column;
        align-items: center;
    }

    .about-image {
        width: 100%;
        max-width: 490px;
        height: auto;
        object-fit: cover;
    }

    .about-text {
        padding: 20px 0;
        text-align: left;
    }

    /* コンタクト  -----------レスポンシブ---スマホ------------------*/


    .form-area {
        max-width: 400px;
        margin: 0 auto;
    }

    .form-row {
        flex-direction: column;
    }

    .form-row label {
        width: 160px;
        display: flex;
        font-weight: bold;
        flex-shrink: 0;
        white-space: nowrap;
        margin-bottom: 0.2rem;
    }

    .form-row label {
        gap: 10px;
        justify-content: left;
        padding-top: 0.4em;
        font-weight: bold;
        flex-shrink: 0;
        align-items: center;
        white-space: nowrap;
    }

    .form-row input,
    .form-row textarea {
        margin-left: 0;
    }

    .form-row textarea {
        resize: none;
        min-height: 120px;
    }



    /* フッター  -----------レスポンシブ-----スマホ----------------*/

    .site-footer {
        padding: 30px 20px 10px;
    }

    .footer-top {
        align-items: flex-start;
        gap: 20px;
    }

    .footer-logo {
        margin-left: 0;
        max-width: 120px;
    }

    .footer-nav {
        width: 100%;
    }

    .main-nav ul,
    .main-nav--footer {
        flex-direction: column;
        gap: 0.5rem;
        text-align: left;
        font-size: 1rem;
    }

    .footer-social {
        gap: 16px;
        padding: 10px 20px;
        margin: 20px 0 20px;
    }

}




/* 768px〜1000px、中間サイズ-------------------------------- */
/* フッターのナビメニューのフォントサイズが徐々に小さくなる */
@media screen and (min-width: 767px) and (max-width: 1000px) {

    .main-nav ul li a,
    .main-nav--footer ul li a {
        font-size: clamp(1rem, 2vw, 1.1rem);
    }

    .main-nav ul,
    .main-nav--footer ul {
        gap: clamp(1rem, 2vw, 2rem);
    }

    .footer-top {
        padding: 0;
    }
}





/* =========================
   スマホ最小幅対策
========================= */
@media (max-width: 460px) {

    .hero {
        padding: 48px 12px;
    }

    .photo-box img {
        object-fit: contain;
    }

    .form-row input,
    .form-row textarea {
        width: 100%;
    }

    .section-inner-contact {
        padding-left: 10px;
        padding-right: 10px;
        max-width: 100%;
    }


}